@import "defaults";
@import "nv.d3";

.d3canvas {
    background-color: white;

    width: 100%;
    height: 100%;
    padding-bottom: 100px;

    /*margin: 0;
    padding: 0;*/
}


.analytics {
    width: 100%;
    height: 100%;
}


.filterContainer{
-webkit-box-sizing: content-box!important; 
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}



#nodatainfo{
    text-align: center;
    color: grey;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.6;
    bottom: 20px;
    position: absolute;
    width: 100%;
}

#saveRendering{
    margin-top: 7px;
    margin-left: 7px;
    position: absolute;
    padding: 2px 7px 1px 7px;
    font-size: 20px;
    z-index: 20;
}

/*Rewrite some defaults of bootstrap*/
.filterContainer label {
    margin-bottom: 0px!important; 
    font-weight: normal!important;
}

.filterContainer input {
    margin: 1px 4px 0!important;

}

.filterContainer .editButton{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

#filters {
    margin: auto 1.5em; display: inline-block;
    text-align: left;
}



#filterDivContainer{
   text-align: center;
}




.d3canvas {
    position:absolute;
}

#graph_1 {
    height: calc(49% - 131px);
}

#graph_2 {
    height: calc(49% - 131px);
}

#filterDivContainer {
    height:262px;
}

#nodataavailable{
    height:100%;
    width:100%;
    position:absolute;
    z-index:500;
    display:none;
    background-color:white;
    text-align: center;
    padding-top: 35%;
    font-size: 2em;
    color: grey;
}

#analyticsSavebutton {
    position: absolute;
    height: 25px;
    width: 25px;
    z-index: 5;
    left: 5px;
    cursor: pointer;
    font-size: 1.8em;
}