@import "defaults";
@import "nv.d3";

.d3canvas {
    background-color: white;

    width: 100%;
    height: 100%;

    /*margin: 0;
    padding: 0;*/
}


.analytics {
    width: 100%;
    height: 100%;
}


.filterContainer{
-webkit-box-sizing: content-box!important; 
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}



#nodatainfo{
    text-align: center;
    color: grey;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.6;
    bottom: 20px;
    position: absolute;
    width: 100%;
}

/*Rewrite some defaults of bootstrap*/
.filterContainer label {
    margin-bottom: 0px!important; 
    font-weight: normal!important;
}

.filterContainer input {
    margin: 1px 4px 0!important;

}

.filterContainer .editButton{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

#filters {
    margin: auto 1.5em; display: inline-block;
    text-align: left;
}



#filterDivContainer{
   text-align: center;
}