@import "defaults";

#timeslider svg.timeslider {
  z-index: $layer-gui;
  position: relative;
  opacity: 1;
  border: 1px solid black;
  height: 5em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

.timeslider{
  cursor: ew-resize;
}

.dataset{
  cursor: pointer;
}

.timeslider .brush .extent{
  stroke-width: 3px !important;
  stroke: #5b5b5b !important;
}


#calendarselection{
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1004;
}

#calendarwidgetholder{
  position: absolute;
  right: 0px;
  top: -260px;
}


.record{
  stroke: black!important;
}

#calendarwidgetholder{
  z-index: 1004;
}