<div class="input-group input-group-sm input">
    <span class="input-group-addon">
        <input type="checkbox" {{#if visible}}checked="checked"{{/if}}/>
    </span>
    <span class="form-control">{{name}}</span>
    <span class="input-group-addon">
        <i class="fa fa-sliders" style="cursor:pointer;"></i>
        <i class="fa fa-square" style="color: {{color}}"></i>
    </span>
</div>
