<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-download"></i> Download Manager <i style="cursor: help;" class="fa fa-info-circle" title="The download service has a limit on returned data size which is equivalent to 50 daily SWARM LR products"></i></h3>
</div>
<div class="panel-body" style="max-height:30em">
  
  <div id="download_processes"></div>
  
  <div style="font-weight:bold;">Filters</div>

  <div class="input-group" id="date" style="margin:7px">
    <span class="form-control">
      Date ( <input type="checkbox" style="vertical-align:top;" value="" id="custom_time_cb"> specify time <i style="cursor: help;" class="fa fa-info-circle" title="As default 00:00:00 and 23:59:59 is selected for start and end dates"></i>) 
      <div style="float:right; margin-right:27px;">
      <input type="text" id="starttime" style="width: 11em; margin-left:6px;">
      <input type="text" id="endtime" style="margin-left:29px;width: 11em;">
      </div>
    </span>
    <span class="input-group-btn">
      <button class="btn btn-danger delete-filter disabled" type="button">
        <i class="fa fa-minus-circle"></i>
      </button>
    </span>
  </div>
  <div id="customtimefilter"></div>

  <div id="filters"></div>

  <div style="margin-top:10px;">
    <div id="products" style="float:left;"></div>
    <div id="model" style="float:left; margin-left:50px;"></div>
    <div class="spacer" style="clear: both;"></div>
  </div>

  <div id="dsd_info"></div>
  <div id="custom_download"></div>

</div>

<div class="panel-footer" style="height:55px">
  <div style="float:left; padding-top:6px; margin-right: 5px;">
    <b>File format</b> 
  </div>
  <div style="float:left; padding-top:6px;">
    <select class="input-small" id="select-output-format">
      <option value="application/netcdf" selected>NetCDF</option>
    </select>
  </div>
  <div style="float: right">
    <button style="pointer-events: auto;" type="button" class="btn btn-primary" id="btn-start-download" disabled><i class="fa fa-fw fa-cogs"></i> Process & create link</button>
  </div>
  <div style="float: right">
    <button style="pointer-events: auto;" type="button" class="btn btn-primary" target="_blank" id="origDownload" title="Download all relevant files to current AoI and ToI selection as package"><i class="fa fa-fw fa-download"></i> Package original files</button>
  </div>
</div>
