<div class="input-group" id={{id}} style="margin:7px">
    <span class="form-control">
    	{{{name}}}
    	<textarea rows="1" cols="20"  style="float:right; resize:none; margin-left:6px">{{extent.[1]}}</textarea>
    	<textarea rows="1" cols="20" style="float:right; resize:none;">{{extent.[0]}}</textarea>
    </span>
    <span class="input-group-btn">
    	<button class="btn btn-danger delete-filter" type="button">
    		<i class="fa fa-minus-circle"></i>
    	</button>
    </span>
</div>

