<div class="modal-dialog" id="infoblock">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About </h3>
    </div>
    <div class="modal-body modal-body-about">
		<p style="font-size:1.4em">The Virtual Research Environment</p>
		<p>
			VirES for Aeolus is the visual interface to the Aeolus mission. 
		</p>
		
	<div class="text-muted" style="text-align: center; margin-top:-2em; position: relative;">
		<a style="display:inline; margin-right:5px;" href="/eoxs_static/other/T%26C_for_ESA_Dataset-v1.pdf" target="_blank_">ESA Data Terms</a> | 
		<a style="display:inline; margin-left:5px;" href="/accounts/servicetc" target="_blank_">VirES Service Terms</a> |
		<a style="display:inline; margin-left:5px;" href="/accounts/changelog" target="_blank_">New release information</a>
	</div>
    <p style="text-align:right;margin-right:1em;">Service version: {{ version }}</p>
  </div>
</div>
