<div class="input-group" id={{key}} style="margin:7px">
    <span class="input-group-addon">
        <input type="checkbox" aria-label="...">
      </span>
    <span class="form-control">
        <b>{{key}}</b>{{#if uom}} [{{uom}}]{{/if}}<br/>{{name}}
    </span>
</div>

