<h4>Vertical Curtain Colorramp:</h4>
<table class="colortable">
    <tbody>
        <tr class="colorcell">
            <td class="c_15" style="background-color: rgb(15, 0, 0);"></td>
            <td class="c_14" style="background-color: rgb(58, 40, 1);"></td>
            <td class="c_13" style="background-color: rgb(61, 99, 0);"></td>
            <td class="c_12" style="background-color: rgb(0, 140, 11);"></td>
            <td class="c_11" style="background-color: rgb(0, 183, 143);"></td>
            <td class="c_10" style="background-color: rgb(0, 115, 224);"></td>
            <td class="c_9" style="background-color: rgb(46, 0, 255);"></td>
            <td class="c_8" style="background-color: rgb(225, 0, 255);"></td>
            <td class="c_7" style="background-color: rgb(255, 0, 106);"></td>
            <td class="c_6" style="background-color: rgb(255, 72, 0);"></td>
            <td class="c_5" style="background-color: rgb(255, 250, 7);"></td>
            <td class="c_4" style="background-color: rgb(117, 255, 53);"></td>
            <td class="c_3" style="background-color: rgb(96, 255, 157);"></td>
            <td class="c_2" style="background-color: rgb(135, 245, 255);"></td>
            <td class="c_1" style="background-color: rgb(178, 195, 255);"></td>
            <td class="c_0" style="background-color: rgb(237, 221, 255);"></td>
        </tr>
{{!--         <tr class="colorhex">
            <td class="v_14">#03290A</td> <td class="v_10">#176589</td> <td class="v_7">#5339D2</td> <td class="v_1">#FFD5DA</td>
        </tr>    --}}
    </tbody>
</table>

<h5>Hue value (<span id="labelHV"></span>)</h5>
<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 75%;"></a>
</div>

<h5>Hue shift (<span id="labelHS"></span>)</h5>
<div id="hs_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
</div>

<h5>Base color richness (<span id="labelGS"></span>)</h5>
<div id="sat_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 85%;"></a>
</div>

<h5>Alpha threshold (<span id="labelAlpha"></span>)</h5>
<div id="alpha_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 85%;"></a>
</div>